.tool-wrapper{
    //position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.logo{
    //position: relative;
    flex: 1;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    color: aqua;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #043591;
    text-shadow: 0 0 3px #EAF9F7;
    box-shadow: 0 0 2px 0 #EAF9F7;
    text-align: center;
}

.topic{
    display: flex;
}

ul {
    display: flex;
    flex: 1;}

ul li{
    display: flex;
    float: left;
    align-content: flex-end;
    border: 0.5px solid #043591;
    color: aqua;
    font-size: 10px;
    width: 50px;
    justify-content: center;
}

ul li:hover {
    cursor: pointer;
    color: #043591;
    background-color: #89adee;
}

.logo:hover {
    cursor: pointer;
}

.lbls {
    color: blue;
    font-size: 12px;
}

.tool-inp{
    width: 30px; 
    background-color: black; 
    border-color: blue; 
    margin-top: 5px; 
    color: blue
}

.tool-topic{
    margin-top: 10px;
    margin-right: 10px;
}

.actns{
    display: flex;
    flex: 3;
}

.adj-lvl{
    height: 15px;
    width: 15px;
    margin-top: 10px;
    border-radius: 50%;
    line-height: 10px;
    box-sizing: border-box;
    background-color: blue;
    border: none;
}

button:focus{
    outline: 0;
}

.calc-wrapper{
    display: flex;
    flex: 8;
}