<div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li><a href="#">Sidenav1</a></li>
        <li><a href="#">Sidenav2</a></li>
        <li><a href="#">Sidenav3</a></li>
      </ul>
    </div>
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>Page content</h1>
          <p>In Progress...</p>
          <p>Thank you for your patience.</p>
        </div>
      </div>
    </div>
  </div>